* {
    background:                 #131020;
    background-alt:             #16161E;
    background-alt2:            #96cdfb;
    foreground:                 #A9B1D6;
    foreground-alt:             #061115;
    accent:                     #16161E;
    transparent: #00000000;
    text-color:                 @fg;
}
