/* colors */

* {
  al:      #282c34;
  bg:      #131020;
  se:      #151515ff;
  fg:      #c0caf5ff;
  ac:      #7dcfffff;
  red:     #f7768eff;
  green:   #73dacaff;
  yellow:  #e0af68ff;
  blue:    #7aa2f7ff;
  purple:  #bb9af7ff;
  cyan:    #7dcfffff;
}
